#skillChart{
    width:80%;
    height:420px;
    margin-left:25px;
    margin-right:auto;
    text-align:left;
    margin-top:130px;
}

.skillBar {
    width:0px;
    height:20px;
    margin-top:1px;
    margin-bottom:1px;
    background-color:#f03;
    border-bottom: 3px solid #c20027;
}

.offcol{
    height:8px;
    background-color:#007095;
    border-bottom: 3px solid #2B505C;
    margin-top:1px;
    margin-bottom:5px;
}

#skillLabelContainer{
    margin-top:20px;
    width:60%;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
}

.skillLabel{
    width:8.5%;
    height:50px;
    margin-right:2%;
    margin-left:2%;
    color:white;
    float:left;
}

.skillLabel p{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#legend{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
}

#legend p{
    margin:0;
    float:left;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-transform: uppercase;
}

.red{
    background:red;
        -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }

.orange{background:orange;
    -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }
.yellow{background:yellow;
    -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }
.pink{background:pink;
    -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }
.purple{background:purple;
    -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }
.blue{background:blue;
    -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }
.green{background:green;
    -webkit-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    box-shadow: inset -7px 7px 0px rgba(0,0,0,0.1);
    height: 10vh;
    width: 5%;
    }

@media only screen and (max-device-width: 480px) {
    #map {
        height: 20vh;
    }

    #intro {
        height: 20vh;
    }
}
