#skillChart{
    width:80%;
    height:420px;
    margin-left:25px;
    margin-right:auto;
    text-align:left;
    margin-top:130px;
}

.skillBar {
    width:0px;
    height:20px;
    margin-top:1px;
    margin-bottom:1px;
    background-color:#f03;
    border-bottom: 3px solid #c20027;
}

.offcol{
    height:8px;
    background-color:#007095;
    border-bottom: 3px solid #2B505C;
    margin-top:1px;
    margin-bottom:5px;
}

#skillLabelContainer{
    margin-top:20px;
    width:60%;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
}

.skillLabel{
    width:8.5%;
    height:50px;
    margin-right:2%;
    margin-left:2%;
    color:white;
    float:left;
}

.skillLabel p{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#legend{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
}

#legend p{
    margin:0;
    padding:0;
    width:50px;
    float:left;
}

.red{background:red;}
.orange{background:orange;}
.yellow{background:yellow;}
.pink{background:pink;}
.purple{background:purple;}
.blue{background:blue;}
.green{background:green;}

